//@import "~taro-ui/dist/style/components/input.scss";
//@import "~taro-ui/dist/style/components/icon.scss";
//@import "~taro-ui/dist/style/components/input-number.scss";
//@import "~taro-ui/dist/style/components/icon.scss";
//@import "~taro-ui/dist/style/components/flex.scss";

.at-input__title {
  width: 9rem;
}

.info_number{
  color:#f44336;
  font-weight: bold;
}
